# Node.js
ecommerce_fe/node_modules/
ecommerce_fe/dist/
*.log

# Python - virtual environment & compiled files
ecommerce_be/venv/
*.pyc
__pycache__/

# Cơ sở dữ liệu & dữ liệu sinh ra
data_base/

# VSCode settings
.vscode/

# Environment variables
.env
