# Node.js
ecommerce_fe/node_modules/
ecommerce_fe/dist/
*.log

# Python - virtual environment
ecommerce_be/venv/
ecommerce_be/app/__pycache__/
ecommerce_be/app/routes/__pycache__/
data_base
# VSCode settings
.vscode/

# Environment files
.env
